#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 10px 0 10px 0; */
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
ion-icon {
  color: blue;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 10% 90%;
  background-color: #f1f3f5;

  width: 100%;
  height: 100vh;
  column-gap: 40px;
  row-gap: 20px;
}

.search-box {
  grid-column: 1 / 3;
  /* grid-row: 1/ 2; */
  margin-bottom: 50px;
}
.information-box {
  grid-column: 1/2;
  grid-row: 2/3;
}

.forecast-box {
  grid-row: 2/3;
}
